.head {
  border: 2px solid black;
  text-align: center;
  text-decoration: underline;
  background-color:blanchedalmond;
  width: 50%;
  margin-left: 25%;
}

.summary {
  font-style: italic;

}

.column {
  float: left;
  width: 30%;
  text-align: center;
  border: 2px solid black;
  background-color: blanchedalmond;
  margin: 12px;
}

.about {
  float: left;
}

img {
  width: 200px;
  height: 150px;
}

body {
  padding: 50px
}
